- cache(@area) do
  %header.page-header
    %h1.page-title
      = @area.title
  .content-wrapper
    %section.primary-content
      .event-media
        %img{src: @area.image, alt: "Lead Image"}
      .event-body
        = @area.body
    %section.related-events
      - @area.children.each do |location|
        %article.event
          - if location.image
            .event-media
              = image_tag location.image

          .event-body
            %h3.event-title
              = link_to location_path(location.slug) do
                = location.title
            %h4.event-subtitle
              = location.festivity_address
              %br
              = "#{location.festivity_city}, #{location.festivity_state} #{location.festivity_zip}"
            %h4.event-subtitle
              = link_to  "Events and Directions", location_path(location.slug), class: 'btn btn-default', target: '_blank'