- cache(@area, base_domain: current_site.base_domain) do
  .location-content
    %header.location-header
      .location-info
        .location-title
          %h1.page-title
            = @area.title
      .location-media
        %img{src: @area.image, alt: "Lead Image"}

    .content-wrapper
      %section.primary-content
        = @area.body
    %section.related-events
      - @area.children.each do |location|
        %article.event
          - if location.image
            .event-media
              = image_tag location.image

          .event-body
            %h3.event-title
              = link_to location_path(location.slug) do
                = location.title
            %h4.event-subtitle
              = location.festivity_address
              %br
              = "#{location.festivity_city}, #{location.festivity_state} #{location.festivity_zip}"
            %h4.event-subtitle
              = link_to  "Events and Directions", location_path(location.slug), class: 'btn btn-default', target: '_blank'