.container
  .row
    .col-xs-12.location-landing-page-header{style: "background-image: url('#{@location.image}')"}
      %h1
        = @location.title
      %p
        =link_to area_path(id: @location.parent.slug) do
          = @location.parent.title
      %p
        = @location.festivity_address
        %br
        = "#{@location.festivity_city}, #{@location.festivity_state} #{@location.festivity_zip}"
      = link_to  "Directions", "#{@location.festivity_directions_url}", class: 'btn btn-default', target: '_blank'
    .col-xs-12
    %h2
      Events at
      = @location.title
  -#.event-list
    - data.events.events_details.each do |e|
      .row.event-list-item data-genre=e.data_genre data-date=e.data_date data-location=e.data_location class=e.slug
        hr
        .event-list-item__photo.col-xs-12.col-md-2
          .photo
            =link_to "#{e.slug}.html"
              img.img-responsive(src="#{e.image_url}")
            ul.categories.list-inline
            .event_list-item__photo-featured-item Featured Event!
        .event-list-item__info.col-xs-12.col-md-8
          =link_to "../#{e.slug}.html"
            h2= e.event_title
          h3
            span.strong= e.event_name
            span.light= e.event_sponsor
          - if e.event_dates_and_times.count > 1
            p
              | Multiple dates and times&nbsp;
              button.btn.btn-sm.btn-default.btn-popover Show all

          - else
            - e.event_dates_and_times.each do |date,index|
              p= "#{date.date}, #{date.time}"
          - for c in e.event_categories do
            p
              a.strong(href="#")= c
          .more-dates.hidden
            ul
        / - e.event_dates_and_times.each do |date,index|
        /   li = "#{date.date}, #{date.time}"
        .event-list-item__button-group.col-xs-12.col-md-2
          p
            =link_to  "Details", "../#{e.slug}.html", class: 'btn btn-default'
          p
            =link_to  "Tickets", "#{e.tickets_link}", class: 'btn btn-default', target: '_blank'
