
= #javascript_include_tag 'satellite_admin'
= #javascript_include_tag 'admin/page'

%hr
.carousel_image
  %p
  .image_icons
    #carousel_image_icons
      - if @page.image
        %img{:src => "#{@page.image}", :alt=>""}
  %input{:type => "submit", :id => "subnav_image_upload", :value => "Upload Sub-Navigation Image"}

  %input{:type=>'hidden', :id=> "async_create_asset_path", :value=>"#{admin_async_create_asset_path}"}
  %input{:type=>'hidden', :id=> "auth_token", :value=>"#{form_authenticity_token}"}
  %input{:type=>'hidden', :id=> "page_id", :value=>"#{@page.id}"}

%br