%tr
  %td
    = hidden_field_tag "page[festivity_performances][][performance_id]", performance.id, id: "performance_#{performance.id}_id"
    = text_field_tag "page[festivity_performances][][start_date]", format_date(performance.start_date), id: "performance_#{performance.id}_start_date", class: "date_field"
  %td
    = text_field_tag "page[festivity_performances][][end_date]", format_date(performance.end_date), id: "performance_#{performance.id}_end_date", class: "date_field"
  %td
    = select_tag("page[festivity_performances][][festivity_location_page][id]", options_from_collection_for_select(locations, "id", "title", performance.location_page_id), {id: "performance_#{performance.id}_location_page_id", class: "textbox big", prompt: "Select location"})
  %td
    = text_field_tag "page[festivity_performances][][notes]", performance.notes, id: "performance_#{performance.id}_notes", size: 50