#event-list-items
  - @events.each do |event|
    .row.event-list-item{class: event.id, data:{ genre: event.categories.first.id, date: event.performances.first.start_date, location: event.locations.first.id} }
      %hr
      .event-list-item__photo.col-xs-12.col-sm-4
        .photo
          = link_to event_path(event.id) do
            %img.img-responsive{ src: "#{event.image}"}
          - if event.featured_item
            .event_list-item__photo-featured-item
              Featured Event!
      .event-list-item__info.col-xs-12.col-sm-8
        = link_to event_path(event.id) do
          %h2
            = event.title
        %h3
          %span.strong
            = event.header
          %span.light
            = event.sub_header
        %hr
        %p
          - if event.locations.count == 1
            - event_location = event.locations.first
            =link_to location_path(id: event_location.slug) do
              = event_location.title
            @
            =link_to area_path(id: event_location.area_slug) do
              = event_location.area_title
          - else
            Multiple Locations
        - if event.performances.count > 1
          %p
            Multiple dates and times&nbsp;
            %button.btn.btn-sm.btn-default.btn-popover{type: "button", data: {content: date_time_popover(event.performances), html: "true",  placement:"top", toggle: "popover"}, title:"Popover title"}
              Show all
        - else
          - event.performances.each do |perf|
            %p
              = perf.start_date.strftime("%A, %B %d")
              = ", "
              = perf.start_date.strftime("%I:%M%p").downcase
              = " - "
              = perf.end_date.strftime('%I:%M%p').downcase
        %hr
        %p
        .event-list-item__info_short_description
          -# category = event.categories.first
          -# %a.strong(href='#')
                  = category.name
          %span
            = event.short_description.html_safe
        %p
        .event-list-item__button-group
          = link_to  "Details", event_path(event.id), class: 'btn event-list-item__btn'
          - unless event.buy_url.blank?
            = link_to  "Tickets", "#{event.buy_url}", class: 'btn event-list-item__btn', target: '_blank'
          -#%button.btn.event-list-item__btn{href: "", data: {toggle:"modal", target:"#share-modal"}, type: "button"}
            Share
          - unless event.locations.first.directions_url.blank?
            = link_to  "Directions", "#{event.locations.first.directions_url}", class: 'btn event-list-item__btn', target: '_blank'