= render partial: "filter_bar_mobile"
%input#events-url{type: "hidden", value: "#{events_url}"}
.container
  .row
    .event-filter-bar.col-md-3.hidden-xs.hidden-sm
      = render partial: 'event_filters'
    #myNavmenu.event-filter-bar.hidden-lg.navmenu.navmenu-default.navmenu-fixed-left.offcanvas
      = render partial: 'event_filters'
    .event-list.col-xs-12.col-md-9
      .row
        .col-xs-8
        .sort.col-xs-4
          %form.form-horizontal.row
            .form-group
              %label.col-xs-3.control-label{for: "sort"}
                Sort
              .col-xs-9
                %select.form-control.sort-control#sort
                  %option{value:"start_date"}
                    Date/Time
                  %option{value:"event_title"}
                    Alphabetical
      .row#event-list-row
      = render partial: "event_list"