%header.page-header
  %h1.page-title
    = @event.title
  - if @event.header
    %h3.page-subtitle
      = @event.header

.content-wrapper
  %section.primary-content
    - if @event.sub_header
      %h4.tertiary-title
        = @event.sub_header

    .event-media
      %img{src: @event.image, alt: "Lead Image"}

    .event-body
      .event-body-text
        = @event.body

      %ul.event-tools
        - if @event.video?
          %li
            %a{href: "#", data: {toggle: "modal", target: "#video-modal"}}
            Watch Video
        - if @event.single_location?
          %li
            %a{target: "_blank", href: "#{@event.locations.first.festivity_directions_url}"}
              Get Directions
          -# TODO: Get the modal working.
          -#%li
          -#  %a{href: "#", data: {toggle:"modal", target:"#share-modal"}}
          -#    Share This

  %aside.secondary-content
    - if @event.can_buy?
      .callout.buy-tickets
        = link_to current_site.festivity_buy_ticket_text, @event.buy_url, class: "button buy-tickets", target: "_blank"

    .callout.location
      %h3.callout-title
        Location
      .location-links
        - if @event.single_location?
          - event_location = @event.locations.first
          = link_to location_path(id: event_location.slug) do
            = event_location.title
          @
          = link_to area_path(id: event_location.parent.slug) do
            = event_location.parent.title
        -else
          Multiple Locations

    .callout.dates
      %h3.callout-title
        Dates/Times
      %ul
        - @event.performances.each do |perf|
          %li
            %span.day
              = perf.start_date.strftime("%A, %B %d")
            %span.time
              = perf.start_date.strftime("%I:%M%p").downcase
              = "-"
              = perf.end_date.strftime("%I:%M%p").downcase
    - if @event.has_social?
      .callout.connect
        %h3.callout-title
          Connect with this artist
        %ul
          - if @event.has_twitter?
            %li
              = link_to @event.artist_twitter, target: "_blank" do
                %span.icon-twitter{:data => {'grunticon-embed' => true}}
                %span.icon-text
                  Twitter
          - if @event.has_facebook?
            %li
              = link_to @event.artist_facebook, target: "_blank" do
                %span.icon-facebook{:data => {'grunticon-embed' => true}}
                %span.icon-text
                  Facebook
          - if @event.has_homepage?
            %li
              = link_to @event.artist_homepage, target: "_blank" do
                %span.icon-external-link{:data => {'grunticon-embed' => true}}
                %span.icon-text
                  Homepage
    - if @event.sponsor_logo?
      .callout.sponsor
        = @event.sponsor_logo
- if @related_events.any?
  %section.related-events
    %h3 Related Events
    - @related_events[0..2].each do |e|
      = render partial: 'event', locals: {event: e}