- content_for :popups do

  #popup_window
    .outer
      .content
  #add_category_type_popup.popup{:style => "display: none"}
    #add_category_type_busy.busy{:style => "display: none"}= image('spinner.gif', :alt => "")
    .popup_title
      Add Filter Category
    = form_for [:admin, FestivityCategoryType.new] do |f|
      %p
        %label{:for => 'type_name_field'}
          Category Type (i.e. Genre)
        = f.text_field :name, :id => 'type_name_field', :maxlength => 100, :style => "width: 15em", :class => "textbox big"
      %p
        %label{:for => 'type_page_class'}
          Show Type
        = f.select(:page_class, options_from_collection_for_select(FestivityBasePage.descendants.map, "name", "display_name"), {:id => "type_page_class", :class => "textbox big"})
      .buttons
        = submit_tag "Add Filter Category", :id => 'add_part_button', :class => "button"
        = t('or')
        = link_to_function t('cancel'), "Popup.close();", :class=>"cancel"