- content_for :popups do

  #popup_window
    .outer
      .content
  #add_category_type_popup.popup{:style => "display: none"}
    #add_category_type_busy.busy{:style => "display: none"}= image('spinner.gif', :alt => "")
    .popup_title
      Add Filter Category
    = form_for [:admin, FestivityCategoryType.new] do |f|
      %p
        %span#category-type-error.festivity-error
        %label{:for => 'type_name_field'}
          Category Type (i.e. Genre)
        = f.text_field :name, :id => 'type_name_field', :maxlength => 100, :style => "width: 15em", :class => "textbox big"
        = hidden_field_tag "type_site_id", @site.id
      %p
        %label{:for => 'type_page_class'}
          Show Type
        = f.select(:page_class, options_from_collection_for_select(FestivityBasePage.descendants.map, "name", "display_name"), {:id => "type_page_class", :class => "textbox big"})
      .buttons
        = submit_tag "Add Filter Category", :id => 'add_type_button', :class => "button"
        = t('or')
        = link_to_function t('cancel'), "Popup.close();", :class=>"cancel"

  - @site.festivity_active_category_types.each do |category_type|
    %div{id: "add_#{category_type.name.parameterize}_popup", class: "popup", :style => "display: none"}
      %div{id: "add_#{category_type.name.parameterize}_busy", class: "busy", :style => "display: none"}= image('spinner.gif', :alt => "")
      .popup_title
        = "Add #{category_type.name}"
      = form_for [:admin, FestivityCategory.new] do |f|
        %p
          %span#category-error.festivity-error
          %label{:for => 'filter_name_field'}
            Category Type (i.e. Genre)
          = f.text_field :name, :id => 'filter_name_field', :maxlength => 100, :style => "width: 15em", :class => "textbox big"
          = hidden_field_tag "filter_category_type_id", @site.id
        %p
          %label{:for => 'filter_parent'}
            Show Type
          = f.select(:parent_id, options_from_collection_for_select(FestivityBasePage.descendants.map, "name", "display_name"), {:id => "type_page_class", :class => "textbox big"})
        .buttons
          = submit_tag "Add #{category_type.name}", :id => 'add_filter_button', :class => "button"
          = t('or')
          = link_to_function t('cancel'), "Popup.close();", :class=>"cancel"