%div{role: "tabpanel", id: "festivity-filters"}
  %ul.nav.nav-tabs{role: "tablist"}
    - category_types.each do |filter_category|
      %li{role: "presentation"}
        %a{href: "##{filter_category.name.parameterize}", role: "tab", aria: {controls: filter_category.name.parameterize}, data: {toggle: "tab"}}
          = filter_category.name
  .tab-content
    - category_types.each do |filter_category|
      %div{role: "tabpanel", class:"tab-pane", id: filter_category.name.parameterize}
        .festivity-space
        .festivity-full.festivity-list
          %table{:id => "#{filter_category.name.parameterize}-table", :class => "index category-table"}
            - filter_category.parent_categories.each do |parent_category|
              %tr.page{:class =>"branch", :data => { :tt_branch => parent_category.name.parameterize,  :tt_id => parent_category.id, :tt_parent_id => parent_category.parent_id, :tt_page_id => parent_category.id}, :id => "#{filter_category.name.parameterize}_#{parent_category.name.parameterize}"}
                %td
                  %span.fa.fa-angle-right
                  = parent_category.name
                  .right
                    %a.festivity-type.fa.fa-minus-circle{href: "#{url_for([:admin, parent_category])}", id: "festivity-category-#{parent_category.id}"}
                      Delete
              - parent_category.children.each do |child_category|
                %tr.page{:class =>"branch", :data => { :tt_branch => child_category.name.parameterize,  :tt_id => child_category.id, :tt_parent_id => child_category.parent_id, :tt_page_id => child_category.id}, :id => "#{filter_category.name.parameterize}_#{child_category.name.parameterize}"}
                  %td
                    %span.fa.fa-angle-right
                    = child_category.name
                    .right
                      %a.festivity-type.fa.fa-minus-circle{href: "#{url_for([:admin, child_category])}", id: "festivity-type-#{child_category.id}"}
                        Delete

        .festivity-space
        .festivity-full
          %button{type: "button", id: "add-#{filter_category.name.parameterize}", href: "#add_#{filter_category.name.parameterize}_popup",
            class: "popup right btn btn-default btn-sm filter-btn",
            aria: {label: "Left Align"}, data: {toggle: "modal", target: "#add-filter-form"}}
            %span{class: "fa fa-plus-square fa-lg", aria: {hidden: "true"}}
            &nbsp;
            = "Add #{filter_category.name}"