%article.subnav-item
  - if page.image
    .subnav-item-media
      %a{href: page.path}
        = image_tag page.image, alt: page.title

  .subnav-item-body
    %h3.event-title
      = link_to page.path do
        = page.title

    .subnav-item-description
      %p
        = page.short_description
    .subnav-item-tags-group
      %ul.subnav-item-tags
        %li
          = link_to "Learn More", page.path