%article.event
  - if page.image
    .event-media
      %a{href: page.path}
        = image_tag page.image, alt: page.title

  .event-body
    %h3.event-title
      = link_to page.path do
        = page.title

    .event-description
      %p
        = page.short_description
    .event-tags-group
      %ul.event-tags
        %li
          = link_to "Learn More", page.path